.container {
    border: 1px solid #0B198C;
}


table, tr {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #C5C5EE;
}

.table-home {
    background-color:#738FBF;
    width: 100%;
}

.table-home-header-home {
    width: 5%;
}

.table-home-header-login {
    width: 5%;
}

.table-home-header-register {
    width: 5%;
}

.table-home-header-empty {
    width: 85%;
}

.table-home-a {
    color: white;
    font-size: small;
}

.themes-table {
    width: 100%
}

.table-header {
    background-color:#113274;
}

.topic {
    width: 75%;
    color: #FFCC00;
    text-align: left;
    font-size: 12px;
}

.comment-delete {
    width: 5%;
    color: #FFCC00;
}

.date {
    width: 10%;
    color: #FFCC00;
    font-size: 12px;
}

.author {
    width: 10%;
    color: #FFCC00;
    font-size: 12px;
}

.form-theme-input {
    font: 12px Arial;
    border: none;
    padding: 0;
    background: #C5C5EE;
    color: black;
}

.td-date {
    text-align: center;
    font: 12px Arial;
}

.td-username {
    text-align: center;
    font: 12px Arial;
}


.comment {
    font: 12px Arial;
    color: black;
}


.table-home-a-color {
    color: white;
    font-size: small;
    background-color:#738FBF;
    border: none;
    text-underline: white;
}

.table-home-header-empty-user {
    width: 85%;
    text-align: right;
}


.theme-name {
    width: 527px;
}

.theme-description {
    height: 100px;
    width: 500px;

}

.comment-description {
    height: 300px;
    width: 600px;
}


.theme-topic {
    width: 75%;
    color: #FFCC00;
    text-align: left;
}

.theme-delete {
    width: 5%;
    color: #FFCC00;
}

.theme-date {
    width: 10%;
    color: #FFCC00;
}

.theme-author {
    width: 10%;
    color: #FFCC00;
}

.theme-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr-border {
    border-width: 1px;
    border-color: white;
}

.table-home-tr {
    background-color:#738FBF;
}

.description {
    font-size: 14px;
    background-color: #C5C5EE;
    width: 100%;
}

.description-header {
    text-align: left;
}

.description-b {
    font-size: 12px;
}
